<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>down</key>
		<string></string>
		<key>up</key>
		<string></string>
		<key>home</key>
		<string></string>
		<key>photo</key>
		<string></string>
		<key>officeid</key>
		<string>372ccd0399674ba5aabd5b984a25cf40</string>
		<key>winning</key>
		<string>0%</string>
		<key>loss</key>
		<string>1</string>
		<key>draw</key>
		<string>1</string>
		<key>win</key>
		<string>1</string>
		<key>id</key>
		<string>111</string>
		<key>name</key>
		<string>老炮FC</string>
		<key>num</key>
		<string>20</string>
		<key>leader</key>
		<string>老炮</string>
		<key>captain</key>
		<string>老炮</string>
		<key>gk</key>
		<string>1</string>
		<key>back</key>
		<string>6</string>
		<key>mid</key>
		<string>9</string>
		<key>forward</key>
		<string>4</string>
		<key>intro</key>
		<string>球队创建于2016-08-26</string>
		<key>member</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>number</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>刘康</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>付进</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>何峰</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>石力</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>李晶</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
